body {
    display: grid;
    grid-template: 1fr 3fr 1fr/ 1fr 20px 1fr 1fr;
}

img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(180, 169, 169);
    justify-self: right;
    grid-column: 1;
    grid-row: 2;
}

section {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row: 2;
}

nav {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row: 3;
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 30px;
}

.button {
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    margin: 2px;
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    border-color: grey;
    transition-duration: 0.6s;
    box-shadow: 0 0 10px rgb(180, 169, 169);
}

.button:hover {
    background-color: rgba(128, 128, 128, 0.452);
}

/* Display on a smaller screen */

@media screen and (max-width: 600px) {
    body {
        display: grid;
        grid-template: 1fr 1fr 1fr/1fr;
    }
    img {
        justify-self: center;
        grid-column: 1;
        grid-row: 1;
    }
    section {
        grid-column: 1;
        grid-row: 2;
        text-align: center;
    }
    nav {
        grid-column: 1;
        grid-row:3;
        text-align: center;
    }
    .button {
        padding: 0;
        width: 150px;
        height: 100px;
    }
}